@font-face {
  font-family: mordona;
  src: url(/assets/Raleway-Italic-VariableFont_wght.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
#nav{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  line-height: 0%;
  font-size: 6em;
  padding-bottom: 2%;
  font-family: mordona;
  font-weight: 100;
  color: white;
  /* text-decoration: underline; */
}
